
.container {
    text-align: center;
    margin: auto;
    padding: 30vh 0;
}

.start-btn {
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;    
}

.start-btn:hover {
    background-color: #e4e4e4;
}


.upload-label {
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;    
}

.upload-label:hover {
    background-color: #e4e4e4;
}

#imageUpload {
    display: none;
}

#imagePreview {
    padding: 20px;
    border-radius: 24px;
}