<html>
    <head>
        <title>Hold Classifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Hold Classifier</h1>
            <p>Want to know what type of hold you're looking at? Take a picture of the hold and upload it here to find out :)</p>
            <button onclick="openHome()" class="start-btn">Start</button>
        </div>
        <script>
            function openHome() {
                location.href += "home";
            }
        </script>
    </body>
</html>